
:root {
  --background-color: #00001b;
  --font-color: #eee;
  --accent-color: #f0aef5;
  --loading-background: 0% 0% / 100rem linear-gradient(135deg, transparent 0rem 50rem, #fff3 60rem, transparent 80rem);
}

:root {
  --z-top-bar: 100;
  --z-playlist-panel: 1000;
  --z-popover: 10000;
}

@font-face {
  font-family: neucha;
  src: url('~/assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: California;
  src: url('~/assets/fonts/California.otf');
  size-adjust: 85%;
}

@keyframes loading {
  from {
    background-position: 0rem;
  }
  to {
    background-position: 100rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    translate: var(--animation-dx, 0rem) var(--animation-dy, 0rem);
    opacity: var(--animation-opacity, 0);
  }
  50% {
    opacity: 0.3;
  }
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  width: 100dvw;
  height: 100dvh;
}

#app {
  width: 100dvw;
  height: 100dvh;
  font-family: neucha;
  // font-size: 1.4rem;
  // line-height: 1.2em;
  color: var(--font-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#tsparticles {
  position: fixed;
  inset: 0rem;
  z-index: -1;
  background-color: var(--background-color);
}

section {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 5rem;
  min-width: 100%;
  padding: 3rem max(2rem, min(5rem, 10%));
}

a:hover,
a:active {
  color: var(--accent-color);
}

*,
::before,
::after {
  outline-offset: 0.1rem;
  outline-width: 0.1rem;
  outline-color: var(--accent-color);
}

:focus-visible {
  outline-style: solid;
}

button {
  transition: color 200ms ease;
}

button[disabled] {
  color: gray;
  cursor: default;
}

button.off {
  color: gray;
}

input {
  background-color: var(--background-color);
  color: inherit;
  font-family: neucha;
  font-size: 1rem;
}

input:focus {
  outline-style: none;
}

input:focus-visible {
  outline-style: solid;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
