*,
::before,
::after {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}